.canvas {
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    border: solid green;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.canvas div {
    border: solid black;
    border-width: thin;
}

.parent-container {
    height: 500px;
    width: 1200px;
    background-color: rgb(255, 196, 214);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header {
    background-color: aqua;
    height: 100px;
}

.control-board {
    height: 500px;
    width: 400px;
    background-color: rgb(196, 255, 207);
    border: 3px solid black;
    display: flex;
}